**/*.pdf
**/*.log
**/*.out
**/*.aux
**/*.fdb_latexmk
texput.log
Maziyar-Gerami-Clojure-Resume/Maziyar_Gerami_Resume.aux
Maziyar-Gerami-Clojure-Resume/Maziyar_Gerami_Resume.fdb_latexmk
Maziyar-Gerami-Clojure-Resume/Maziyar_Gerami_Resume.log
Maziyar-Gerami-Clojure-Resume/Maziyar_Gerami_Resume.pdf
Maziyar-Grami-Java-Resume/Maziyar_Gerami_Resume.aux
Maziyar-Grami-Java-Resume/Maziyar_Gerami_Resume.fdb_latexmk
Maziyar-Grami-Java-Resume/Maziyar_Gerami_Resume.log
.gitignore
Maziyar-Grami-Java-Resume/Maziyar_Gerami_Resume.fdb_latexmk
Maziyar-Grami-Java-Resume/Maziyar_Gerami_Resume.log
Java/CV/Maziyar_Gerami_Resume.synctex.gz
Java/CV/Maziyar_Gerami_Resume.fls
Clojure/CV/Maziyar_Gerami_Resume.fls
Clojure/CV/Maziyar_Gerami_Resume.synctex.gz
